@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    color: rgba(255, 255, 255, 0.603);

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #241f30;
}

.main {
    display: flex;
    background-color: #1A1527;
    border-radius: 20px;
    position: relative;
    padding: 0px;

    overflow: hidden;

    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.192);

    width: 65%;
    height: 90%;
    justify-content: center;
    align-items: center;

backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );

}

.main .bg {
    display: flex;
}

.main .small-bg {
    display: flex;
    justify-content: flex-end;
}

.main .bg-1 {
    display: flex;
    justify-content: flex-end;
}

.main .bg-2 {
    display: flex;
    
}

.main .bg-3 {
    display: flex;
}

.main .bg .circle {
    width: 280px;
    height: 280px;
    background: linear-gradient(225deg, #5B75FF 29.22%, #FF5B6F 100%);
    position: absolute;
    border-radius: 100%;
    top: -10%;
    left: -10%;

    filter: blur(20px);
    transform: rotate(-30deg);
}

.main .small-bg .small-circle {
    width: 90px;
    height: 90px;
    background: linear-gradient(225deg, #87D7AC 21.58%, #7438F3 83.91%);
    position: absolute;
    border-radius: 100%;

    filter: blur(15px);
    transform: rotate(-30deg);

    top: 80%;
    right: 10%;
}

.main .bg-1 .circle-1 {
    width: 280px;
    height: 280px;
    background: linear-gradient(225deg, #5B75FF 29.22%, #FF5B6F 100%);

    position: absolute;
    border-radius: 100%;
    top: 10%;
    right: 15%;
}

.main .bg-2 .circle-2 {
    width: 150px;
    height: 150px;
    background: linear-gradient(225deg, #87D7AC 21.58%, #7438F3 83.91%);

    position: absolute;
    border-radius: 100%;
    top: 55%;
    left: 15%;
}

.main .bg-3 .circle-3 {
    width: 70px;
    height: 70px;
    background: linear-gradient(225deg, #FF5B6F 21.58%, #7438F3 83.91%);

    position: absolute;
    border-radius: 100%;
    top: 25%;
    left: 30%;
}





.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: white;
    
  }
  
  .heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
  }
  
  .logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
  }
  
  .chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
  }
  
  .contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
  }
  
  .number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
  }
  
  .valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
  }
  
  .date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
  }
  
  .name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
  }
  
  .strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030d9,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
  }
  
  .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
  }
  
  .code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: rgba(122, 113, 113, 0.332);
  }
  
  .flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: rgba(122, 113, 113, 0.332);
    transform: rotateY(180deg);
  }


























@media only screen and (min-width: 1080px) {


    .card {
        width: fit-content;
    }
}

@media only screen and (min-width: 1140px) {


    .card {
        width: fit-content;
    }

    .main .bg .circle {
        top: -15%;
        left: -15%;
    }
    
    .main .small-bg .small-circle {
        top: 75%;
        right: 10%;
    }

    .main .bg-1 .circle-1 {
        top: 10%;
        right: 10%;
    }
    
    .main .bg-2 .circle-2 {
        top: 55%;
        left: 15%;
    }
    
    .main .bg-3 .circle-3 {
        top: 20%;
        left: 40%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1068px) {
    .card .number h1 {
        font-size: 1.5rem;
    }

    .card {
        height: 40%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 799px) {
    .card .number h1 {
        font-size: 1.2rem;
    }

    .card {
        height: 35%;
    }

    .card .data h2 {
        font-size: 1rem;
        font-weight: 500;
    }


}

@media only screen and (max-width: 639px) {
    .card .number h1 {
        font-size: 1.5rem;
    }

    .card {
        height: 60%;
    }

    .card .data h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    
    .data {
        flex-direction: column;
    }

    .card .number h1 {
        margin: 0 5px 0 0;
    }

    .card .number {
        display: inline;
        margin: 0;

    }
}

@media only screen and (max-width: 404px) {
    .card .number h1 {
        font-size: 1.5rem;
    }

    .card {
        height: 55%;
    }

    .card .data h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    
    .data {
        flex-direction: column;
    }

    .card .number h1 {
        margin-right: 5px;
    }

    .card .number {
        display: inline;
        margin: 0;

    }

    .card .images {
        flex-direction: column;
    }

    .card .images img:first-child {
        margin-bottom: 20px;
    }
}